/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #596787;
}

main {
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
}

.hide-mobile {
  @apply hidden md:block;
}

.show-mobile {
  @apply block md:hidden;
}
