/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url('./assets/slashes.png');
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(89 103 135 / 45%);
}

.shadow-floating-container {
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
}

.hide-mobile {
  @apply hidden md:block;
}

.show-mobile {
  @apply block md:hidden;
}
