.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
  padding-top: 50px;
  color: #fff;
  background-color: #596787;
  border-radius: 40px;
}
