.room_container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 95px;
  min-width: 95px;
  height: 145px;
  padding: 0 20px 20px 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
}

.room_owner {
  padding-bottom: 10px;
  font-size: 12px;
}

.room_icon {
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 12px;
  height: 12px;
  color: #fff;
}
