.customInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.customInput button {
  background-color: #596787;
}

@media (min-width: 768px) {
  .customInput > div {
    width: 50%;
  }
}
