.header_container {
  display: flex;
  height: fit-content;
}

.header_profile-pic {
  width: 45px;
  height: 45px;
  margin-right: 17px;
}

.header_username {
  font-size: 27px;
  font-weight: 400;
}
