.mp_container {
  display: flex;
  justify-content: space-between;
}

.mp_inner-container {
  display: flex;
  margin-right: 50px;
}

.mp_username-message-container {
  width: 100%;
  margin-left: 6px;
}

.mp_username {
  padding-bottom: 10px;
  font-size: 15px;
}

.mp_message {
  font-size: 13px;
}
