.customInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  /* margin-top: 25px; */
}

.customInput button {
  background-color: #596787;
}

.btnCreateRoom {
  position: initial;
  margin-left: 15px;
  background-color: #03a9f1 !important;
}

@media (min-width: 768px) {
  .customInput > div {
    width: 50%;
  }
}
