/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-main-fullscreen,
.sb-show-main {
  background: none;
}

body,
#root {
  width: 100%;
  height: 100vh;
}

body {
  background-image: url('./assets/slashes.png');
}

.shadow-floating-container {
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
}

.hide-mobile {
  @apply hidden md:flex;
}

.show-mobile {
  @apply block md:hidden;
}
