.container {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
